[global_config]
  title_transmit_bg_color = "#eee8e8"
  title_transmit_fg_color = "#0d0303"
[keybindings]
  switch_to_tab_10 = <Alt>0
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_1 = <Alt>1
[profiles]
  [[default]]
    palette = "#000000:#ef8c8c:#84fc84:#cdcd00:#9ac2ea:#edaded:#00cdcd:#e5e5e5:#4c4c4c:#ec6a6a:#a1f5a1:#ffff00:#4682b4:#f0aff0:#00ffff:#ffffff"
    background_image = None
    use_system_font = False
    foreground_color = "#a7f8a0"
    show_titlebar = False
    font = Source Code Pro 11
    background_color = "#262323"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
