[global_config]
  title_transmit_bg_color = "#e76d6f"
[keybindings]
[profiles]
  [[default]]
    palette = "#000000:#ef8c8c:#84fc84:#cdcd00:#9ac2ea:#edaded:#00cdcd:#e5e5e5:#4c4c4c:#ec6a6a:#a1f5a1:#ffff00:#4682b4:#f0aff0:#00ffff:#ffffff"
    background_image = None
    use_system_font = False
    foreground_color = "#b8f878"
    font = Source Code Pro 11
    background_color = "#262323"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
